body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

:root{
    --primary-color:#666;
    --secondairy-color: black;
    --accent-color: #fec397;
    --background-color-dark: #2d3142;
    --text-color-dark: whitesmoke;
    --nav-background: whitesmoke;
    --border-color:#111;
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}